*/*/*-backups/
*/*/production/
QCPU/asl/
*.p
*.lst
*.bin
*.hex
*.hexe
*.class
*.out
gfmpw_breakout/
*.o
*.elf
*.debug.txt
MC14500/Software/bin/
MC14500/Software/obj/
*.hexe
AS-11/asl/
QCPU/Emu/__pycache__/
